*{
   box-sizing: border-box;
  
    
}
body {
    background-color: black;
    margin: 5px;
    
}

.jumbotron {
    width: 100%;
    height:50vh;
    background-repeat: no-repeat;
    background-image: url(../images/gradienta-tHtZo3FLhPc-unsplash.jpg);
  color: white;
  padding-left: 20px;
  background-size: 2500px;
}
.container img {
height: 25vh;
width: 15vw;
padding-left: 50px;
}

.container-fluid{
    padding-top: 100px;
  display: flex;
   width: 100vw;
}
.card-text {
    color: black;
}
.subheading{
    color: white;
    padding-left: 20px;
}
.learn {
    padding-left: 20px;
    color: white;
}
.card{
    border: solid blue 3px;
   width: 100%;
}
.row{
    width: 100%;
    justify-content: center;
}

#contact{
    
    text-decoration: none;
    padding-left: 20px;
    
  }
#contact h3{
font-style: italic;
color: white;
}
.lorem{
    color: white;
    padding: 20px;
    
}
.flex-container{
   padding-top: 20px;
    display: flex;
    background-color:blue;
    justify-content: space-around;
   
    
   
  }
 .call:hover{
background-color: orange;
 }
 .cardContainer {
    width: 10vw;
 }